<footer>
    <ul class="wrap-info">
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8"
                ><path
                    fill="none"
                    stroke="#10D8C4"
                    stroke-width="2"
                    d="M1 4.134l1.907 1.908L7.949 1"></path></svg
            >Unlimited websites
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8"
                ><path
                    fill="none"
                    stroke="#10D8C4"
                    stroke-width="2"
                    d="M1 4.134l1.907 1.908L7.949 1"></path></svg
            >100% data ownership
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8"
                ><path
                    fill="none"
                    stroke="#10D8C4"
                    stroke-width="2"
                    d="M1 4.134l1.907 1.908L7.949 1"></path></svg
            >Email reports
        </li>
    </ul>

    <button>Start my trial</button>
</footer>

<style>
    footer {
        padding: 2rem;
        text-align: center;
        border-top: 1px solid var(--Light-Grayish-Blue-soft);
    }
    svg {
        margin-right: 0.7rem;
    }

    li {
        margin-bottom: 0.8rem;
        font-size: 14px;
    }

    button {
        padding: 0.8rem 3rem;
        border-radius: 50px;
        border: none;
        background-color: var(--Dark-Desaturated-Blue);
        color: var(--Light-Grayish-Blue);
        font-weight: 600;
        font-family: var(--ff);
        margin-top: 1.3rem;
    }

    button:hover {
        color: var(--Very-Pale-Blue);
    }

    @media (min-width: 800px) {
        footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 4rem;
        }

        ul {
            text-align: start;
        }

        button {
            margin: 0;
        }
    }
</style>
