---
import InputRange from './InputRange.astro';
import InputCheck from '../components/InputCheck.astro';
import CardFooter from '../components/CardFooter.astro';
---

<section>
    <header class="card-top">
        <h2>100k pageviews</h2>
        <InputRange />
        <div class="wrap-price flex">
            <p>$<span class="price">16.00</span></p>
            <p>/ month</p>
        </div>
        <div class="wrap-billing flex">
            <p>Monthly Billing</p>
            <span>
                <InputCheck />
            </span>
            <p>Yearly Billing</p>
            <span>-25% <span class="discount">discount</span></span>
        </div>
    </header>
    <CardFooter />
</section>

<style>
    section {
        background: white;
        margin-top: 2rem;
        box-shadow: 0px 10px 60px -3px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        color: var(--Grayish-Blue);
        max-width: 640px;
        margin-inline: auto;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1rem;
    }

    .wrap-price p:first-child {
        font-size: 2.4rem;
        font-weight: 800;
        color: black;
    }

    .wrap-price p:last-child {
        font-size: 18px;
    }
    .flex {
        gap: 0.7rem;
    }

    span {
        height: 25px;
    }

    .wrap-billing p,
    .wrap-billing span {
        font-size: 13px;
    }

    .wrap-billing span:last-child {
        padding-top: 2px;
        padding-inline: 7px;
        border-radius: 20px;
        background-color: var(--light-gray);
        color: var(--light-red);
        font-weight: 800;
    }

    @media (min-width: 800px) {
        section {
            position: relative;
        }

        header {
            padding: 3rem;
            gap: 3rem;
        }

        .wrap-price {
            position: absolute;
            top: 43px;
            right: 50px;
        }

        h2 {
            text-align: start;
            align-self: self-start;
            margin-block: 1rem;
        }
    }
</style>
