---

---

<section>
    <header class="card-top">
        <h2>100k pageviews</h2>
        <div class="bar">bar</div>
        <div class="wrap-price flex">
            <p>$<span class="price">16.00</span></p>
            <p>/ month</p>
        </div>
        <div class="wrap-billing flex">
            <p>Monthly Billing</p>
            <button></button>
            <p>Yearly Billing</p>
            <div></div>
        </div>
    </header>
    <footer></footer>
</section>

<style>
    section {
        background: white;
        margin-top: 2rem;
        padding: 2rem 1rem;
        border-radius: 10px;
        color: var(--Grayish-Blue);
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.2rem;
    }

    .wrap-price p:first-child {
        font-size: 2.4rem;
        font-weight: 800;
        color: black;
    }

    .wrap-price p:last-child {
        font-size: 18px;
    }
    .flex {
        gap: 0.5rem;
    }
</style>
