<header>
    <h1>Simple, traffic-based pricing</h1>
    <p class="header-p">Sign-up for our 30-day trial.</p>
    <p class="header-p">No credit card required.</p>
</header>

<style>
    header {
        background-image: url('../assets/pattern-circles.svg');
        background-repeat: no-repeat;
        background-position: center;
        padding-block: 3rem;
        text-align: center;
    }

    h1 {
        font-size: 1.4rem;
        color: var(--Dark-Desaturated-Blue);
        margin-bottom: 0.5rem;
    }

    p {
        color: var(--Grayish-Blue);
    }
</style>
